#about {
    .topSection{
        height: 200px;
        background-color: lightgray;
    }
    
    h3 {
        text-align: center;
    }

    img {
        width: 30%;
        height: auto;
    }

    .topSection h1 {
        display: inline-block;
    }


}