#create_team_modal {

    .badge-danger {
        background-color: #D9534F;
        float: right;
    }

    .formErrorMsg {
        color: red;
    }

    .space-right {
    	margin-right: 10px;
    }

    ul {
      margin-top: 2px;
      padding-left: 3px;
      padding-right: 3px;
      border: 1px solid #C3D0DB;
      line-height: 25px;
      background-color: #fff;
      cursor: pointer;
      width: 100%;
      list-style-type: none;

      li+li { border-top: 0.25px solid #C3D0DB }
    }
    
    .teamNameInSearch {
        font-size:16px;
        color: #6796AD;
        display: inline-block;
        margin-left:5px;
    }



}
