
#create_challenge_modal {

    .badge-danger {
        background-color: #D9534F;
        float: right;
    }

    .formErrorMsg {
        color: red;
    }


    .searchTeam {
        input {
            font-size:16px;
        }
        ul {
          margin-top: 2px;
          padding-left: 3px;
          padding-right: 3px;
          border: 1px solid #C3D0DB;
          line-height: 25px;
          background-color: #fff;
          cursor: pointer;
          width: 100%;
          list-style-type: none;

          li+li { border-top: 0.25px solid #C3D0DB }
        }
        /*.opponentSelected {
            position: absolute;
            padding-left: 3px;
            padding-right: 3px;
            margin-left: 5px;

            z-index: 100;

            font-size:16px;
            color: #6796AD;

            background-color: #EBEBEB;
            border-radius: 4px;

            i {
                cursor: pointer;
                color: black;
            }
        }*/
        .fa-close {
            cursor: pointer;
            color: black;
            z-index: 100;

            position: absolute;
            top: 124px;
            left: 94%;
        }
        .teamNameInSearch {
            font-size:16px;
            color: #6796AD;
            display: inline-block;
            margin-left:5px;
        }
        .captainNameInSearch {
            font-size:14px;
            color: #6796AD;
            font-style:italic;
            display: inline-block;
            float:right;
            margin-right:5px;
        }
    }

    form {
        button {
            margin-right: 10px;
            float: right;
            display: block;
            position: relative;
            top: 31px;
        }

        .formSummary{
            border-top: 1px solid #E5E5E5;
        }
    }

    .formErrorMsg {
        color: red;
    }

    .radioBtnList {
        text-align: center;
    }


}
