#exercise {
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .progress {
        text-align: center;

        .progress-value {
            color: black;

            position:absolute;
            right:0;
            left:0;
        }
    }

    .col-md-3 {
        padding: 0px;
        z-index: 1029;
    }

    .col-md-9 {
        padding: 0px;
    }

    .topSection{
    }

    .bottomSection {

        h3 {
            margin-top: 7px;
        }

        .challenge-title {
        }
        .challenge-teams {

        }
    }

    .dark-text {
        color: black;
    }

    /* Portrait tablets and small desktops */
    /* Landscape phones and portrait tablets */
    /* Portrait phones and smaller */
    @media (max-width: 991px) {
        .col-md-3 {
            position:fixed;
            top: 50px;
        }
    }
}
